<body class="bg-light">
  <div class="container">
    <img class="ax-center my-10 w-24" src="https://assets.bootstrapemail.com/logos/light/square.png" />
    <div class="card p-6 p-lg-10 space-y-4">
      <%= yield %>
    </div>
    <img class="ax-center mt-10 w-40" src="https://assets.bootstrapemail.com/logos/light/text.png" />
    <div class="text-muted text-center my-6">
      Sent with <3 from Hip Corp. <br>
      Hip Corp. 1 Hip Street<br>
      Gnarly State, 01234 USA <br>
    </div>
  </div>
</body>
